{
  "root": true,
  "extends": "airbnb",
  "plugins": ["jest", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-lonely-if": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-loop-func": "off",
    "prettier/prettier": "error"
  }
}
